@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  
  background-color: #f7fafc;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* bump the code size down a bit */
.prose pre[class*="language-"] {
  font-size: 0.8em !important;
}

.sm\:prose-lg pre[class*="language-"] {
  font-size: 0.9em !important;
}

.inset-bottom-shadow {
  box-shadow: inset 0 -6px 6px -6px rgba(0, 0, 0, 0.1), inset 0 -4px 4px -4px rgba(0, 0, 0, 0.06);
}

.max-width {
  max-width: 620px;
}

/*  Code Line Highlight Styles */ 
/* highlight for each spotlight line */
.remark-highlight-code-line {
  background-color: #4e5867;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #c2e78e;
}
 
/* Gutter for line numbers when the line-numbers plugin is active */
.remark-highlight pre[class*='language-'].line-numbers {
  padding-left: 2.8em;
}

/* Tailwind Overrides */
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.sm\:prose-lg h1,
.sm\:prose-lg h2,
.sm\:prose-lg h3,
.sm\:prose-lg h4 {
  color: black;
}

.prose ul,
.sm\:prose-lg ul {
  list-style: disc;
  list-style-position: inside;
}

.post-image-container > div {
  height: 100%;
}